@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(221, 221, 221);
}
.loader{
  display: flex;
  justify-content: center;
}
.text-center{
  text-align: center;
}
.danger-text{
  color:rgb(145, 16, 16)
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #383838;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.App{
  background-color: rgb(27, 27, 27);
  min-height:100vh;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding:20px 0px;
  background-color: rgb(27, 27, 27);
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  transition:0.2s;
  border-bottom: 1px solid rgb(49, 49, 49)
}
.blog-preview:hover {
  background-color: #272727;
  cursor:pointer;
}
.blog-preview h3 {
  margin-bottom: 8px;
}
.blog-preview p{
  font-size: 13px;
}
.blog-preview-footer{
  position:relative;
  justify-content: space-between;
  display:flex;
  width:100%;
  padding:15px 0px;
}
.blog-preview-footer button{
  background-color: rgba(160, 7, 7, 0.3);
  border: 1px solid rgb(134, 0, 0);
  color:rgb(204, 66, 66);
  border-radius:5px;
  padding:5px;
}
.blog-preview-footer button:hover{
  background-color: rgba(187, 10, 10, 0.3);
}
.blog-preview-footer button:focus,
.blog-preview-footer button:active{
border:none;
}

.blog-preview-footer .post-time{
  font-size: 12px;
  color:rgb(129, 129, 129)
}
